
<h2>{{project.title}}</h2>
<img
  onClick={{action "toggleModal"}}
  alt="Working Aperture Logo"
  class="img-fluid"
  src={{project.photo}}>


{{#if isShowingModal}}
{{#modal-dialog onClose="toggleModal"
                targetAttachment="center"
                translucentOverlay=true}}
  <p>{{project.company}}</p>
  <p>{{project.title}}</p>
  <img
    alt="Working Aperture Logo"
    class="img-fluid img-modal"
    src={{project.photo}}>
{{/modal-dialog}}
{{/if}}