<div class="container add-top add-extra-top">
  <div class="jumbo">
    <div class="right tomster"></div>
    <div class="text-center">
      <h2>Order Options</h2>
      <p class="section-subheading text-muted">
        Order Pictures. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
      </p>
    </div>
    <ul>
      test
      {{model.email}}
      {{#each model as |user|}}
        <li>{{user.email}}</li>
      {{/each}}
    </ul>
    {{order-form model=model}}
  </div>
  {{outlet}}
</div>

{{site-footer}}
