
<img
  onClick={{action "toggleModal"}}
  alt="Working Aperture Logo"
  class="img-fluid"
  src={{project.photo}}>
<h5>{{project.title}}</h5>

{{#if isShowingModal}}
{{#modal-dialog onClose="toggleModal"
                targetAttachment="center"
                translucentOverlay=true}}
  <div class="row">
    <div class="col">
      <p>{{project.company}}</p>
    </div>
    <div class="col-1">
      <button type="button" class="close" aria-label="Close" {{action "toggleModal"}}>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <img
    alt="Working Aperture Logo"
    class="img-fluid img-modal"
    src={{project.photo}}>
  <div class="col">
    <p>{{project.title}}</p>
  </div>
{{/modal-dialog}}
{{/if}}